<form
  class="form w-100"
  novalidate="novalidate"
  [formGroup]="forgotPasswordForm"
  (ngSubmit)="submit()"
  id="kt_login_password_reset_form"
>
<div class="text-center mb-10 flex-grow-1 flex-lg-grow-0">
  <a>
    <img alt="Logo" src="./assets/media/logos/favicon.png" class="logo-default h-30px">
  </a>

  <div class="text-center mt-5">
    <h1 class="text-gray fw-bolder">FOSSIS</h1>
  </div>
</div>
  <!--begin::Heading-->
  <div class="text-center mb-10">
    <!--begin::Title-->
    <h1 class="text-gray-900 fw-bolder mb-3">
      {{'FORGOT_PASSWORD' | translate}}
    </h1>
    <!--end::Title-->

    <!--begin::Link-->
    <div class="text-gray-500 fw-semibold fs-6">
        {{'RESET_PASSWORD_MAIL' | translate}}
    </div>
    <!--end::Link-->
</div>
<!--begin::Heading-->

  <!-- begin::Alert error-->
  <ng-container *ngIf="errorState === errorStates.HasError">
    <div class="mb-lg-15 alert alert-danger">
      <div class="alert-text font-weight-bold">
        {{'ERRORS_DETECTED_TRY_AGAIN' | translate}}
      </div>
    </div>
  </ng-container>
  <!-- end::Alert error-->

  <ng-container *ngIf="errorState === errorStates.NoError">
    <div class="mb-10 bg-light-info p-8 rounded">
      <!--begin::Body-->
      <div class="text-info">{{'SENT_PASSWORD_RESET_CHECK_EMAIL' | translate}}</div>
      <!--end::Body-->
    </div>
  </ng-container>

  <!--begin::Form group-->
  <div class="fv-row mb-8">
    <label class="form-label fw-bolder text-gray-900 fs-6">{{'EMAIL' | translate}}</label>
    <input
      class="form-control bg-transparent"
      type="email"
      formControlName="email"
      placeholder="{{'EMAIL' | translate}}"
      name="email"
      autocomplete="off"
      [ngClass]="{
        'is-invalid': forgotPasswordForm.controls['email'].invalid,
        'is-valid': forgotPasswordForm.controls['email'].valid
      }"
    />

    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'required',
        message: ('EMAIL' | translate) + ' ' + ('IS_REQUIRED' | translate),
        control: forgotPasswordForm.controls['email']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'email',
        message: ('EMAIL_IS_INVALID' | translate),
        control: forgotPasswordForm.controls['email']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'minLength',
        message: ('EMAIL_SHOULD_HAVE_AT_LEAST_3_SYMBOLS' | translate),
        control: forgotPasswordForm.controls['email']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: ('EMAIL_SHOULD_HAVE_MAXIMUM_360_SYMBOLS' | translate),
        control: forgotPasswordForm.controls['email']
      }"
    ></ng-container>
  </div>
  <!--end::Form group-->
  <!--begin::Form group-->
  <div class="d-flex flex-wrap justify-content-center pb-lg-0">
    <button
      type="submit"
      id="kt_password_reset_submit"
      class="btn btn-primary me-4"
    >
      <span class="indicator-label">{{'SUBMIT' | translate}}</span>
      <ng-container *ngIf="isLoading$ | async">
        <span class="indicator-progress">
          {{'PLASE_WAIT' | translate}}
          <span
            class="spinner-border spinner-border-sm align-middle ms-2"
          ></span>
        </span>
      </ng-container>
    </button>
    <a
      routerLink="/auth/login"
      id="kt_login_password_reset_form_cancel_button"
      class="btn btn-light"
    >
      {{'CANCEL' | translate}}
    </a>
  </div>
  <!--end::Form group-->
</form>
<!--end::Form-->

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert">{{ message }}</span>
      </div>
    </div>
  </ng-container>
</ng-template>
