<div class="theme-mode-switcher">
<button type="button" class="btn btn-icon" [ngClass]="toggleBtnClass"
  [attr.aria-expanded]="menuOpen" aria-haspopup="menu"
  (click)="toggleMenu($event)">
  <ng-container *ngIf="mode$ | async as mode">
    <ng-container *ngIf="mode === 'dark'">
      <span [inlineSVG]="'./assets/media/icons/duotune/general/gen061.svg'" [ngClass]="toggleBtnIconClass"
        class="svg-icon theme-light-hide"></span>
    </ng-container>
    <ng-container *ngIf="mode === 'light'">
      <span [inlineSVG]="'./assets/media/icons/duotune/general/gen060.svg'" [ngClass]="toggleBtnIconClass"
        class="svg-icon theme-dark-hide"></span>
    </ng-container>
  </ng-container>
</button>

<div class="theme-mode-menu menu menu-column menu-rounded menu-title-gray-700 menu-icon-muted menu-active-bg menu-state-primary fw-semibold py-2 fs-base w-175px"
  *ngIf="menuOpen" role="menu">
  <ng-container *ngIf="menuMode$ | async as menuMode">
    <!-- begin::Menu item  -->
    <div class='menu-item px-3 my-0'>
      <button type="button" class="menu-link px-3 py-2" [ngClass]="{'active': menuMode === 'light'}" role="menuitem" (click)="switchMode('light')">
        <span class='menu-icon' data-kt-element='icon'>
          <span [inlineSVG]="'./assets/media/icons/duotune/general/gen060.svg'" class="svg-icon svg-icon-3"></span>
        </span>
        <span class='menu-title'>{{'LIGHT' | translate}}</span>
      </button>
    </div>
    <!-- end::Menu item -->

    <!-- begin::Menu item  -->
    <div class='menu-item px-3 my-0'>
      <button type="button" class="menu-link px-3 py-2" [ngClass]="{'active': menuMode === 'dark'}" role="menuitem" (click)="switchMode('dark')">
        <span class='menu-icon' data-kt-element='icon'>
          <span [inlineSVG]="'./assets/media/icons/duotune/general/gen061.svg'" class="svg-icon svg-icon-3"></span>
        </span>
        <span class='menu-title'>{{'DARK' | translate}}</span>
      </button>
    </div>
    <!-- end::Menu item -->

    <!-- begin::Menu item  -->
    <div class='menu-item px-3 my-0'>
      <button type="button" class="menu-link px-3 py-2" [ngClass]="{'active': menuMode === 'system'}" role="menuitem" (click)="switchMode('system')">
        <span class='menu-icon' data-kt-element='icon'>
          <span [inlineSVG]="'./assets/media/icons/duotune/general/gen062.svg'" class="svg-icon svg-icon-3"></span>
        </span>
        <span class='menu-title'>{{'SYSTEM' | translate}}</span>
      </button>
    </div>
    <!-- end::Menu item -->

  </ng-container>

</div>
</div>
