<app-modal #modal [modalConfig]="modalConfig">
    <form class="form w-100" [formGroup]="form" novalidate="novalidate">

        <div class="fv-row mb-8">
            <label class="form-label fs-6 fw-bolder text-gray-900">{{'MANUFACTURER' | translate}}</label>
            <input class="form-control bg-transparent" type="text" name="manufacturer" formControlName="manufacturer"
                autocomplete="off" [ngClass]="{
                      'is-invalid': form.controls['manufacturer'].invalid,
                      'is-valid': form.controls['manufacturer'].valid
                    }" />
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                      validation: 'required',
                      message: ('MANUFACTURER'| translate) + ' ' + ('IS_REQUIRED' | translate),
                      control: form.controls['manufacturer']
                    }"></ng-container>
        </div>

        <div class="fv-row mb-8">
            <label class="form-label fs-6 fw-bolder text-gray-900">{{'MODEL' | translate}}</label>
            <input class="form-control bg-transparent" type="text" name="model" formControlName="model"
                autocomplete="off" [ngClass]="{
                    'is-invalid': form.controls['model'].invalid,
                    'is-valid': form.controls['model'].valid
                  }" />
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'required',
                    message: ('MODEL'| translate) + ' ' + ('IS_REQUIRED' | translate),
                    control: form.controls['model']
                  }"></ng-container>
        </div>

        <div class="fv-row mb-8">
            <label class="form-label fs-6 fw-bolder text-gray-900">{{'TYPE' | translate}}</label>
            <input class="form-control bg-transparent" type="text" name="type" formControlName="type" autocomplete="off"
                [ngClass]="{
                'is-invalid': form.controls['type'].invalid,
                'is-valid': form.controls['type'].valid
              }" />
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: ('TYPE'| translate) + ' ' + ('IS_REQUIRED' | translate),
                control: form.controls['type']
              }"></ng-container>
        </div>

        <div class="fv-row mb-8">
            <label class="form-label fs-6 fw-bolder text-gray-900">{{'STRUCTURE_TYPE' | translate}}</label>
            <input class="form-control bg-transparent" type="text" name="structureType" formControlName="structureType" autocomplete="off"
                [ngClass]="{
                'is-invalid': form.controls['structureType'].invalid,
                'is-valid': form.controls['structureType'].valid
              }" />
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: ('STRUCTURE_TYPE' | translate) + ' ' + ('IS_REQUIRED' | translate),
                control: form.controls['structureType']
              }"></ng-container>
        </div>

        <div class="fv-row mb-8">
            <label class="form-label fs-6 fw-bolder text-gray-900">{{'NOMINAL_CAPACITY_KW' | translate}}</label>
            <input class="form-control bg-transparent" type="number" name="nominalCapacity"
                formControlName="nominalCapacity" autocomplete="off" [ngClass]="{
                'is-invalid': form.controls['nominalCapacity'].invalid,
                'is-valid': form.controls['nominalCapacity'].valid
              }" />
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: ('NOMINAL_CAPACITY_KW' | translate) + ' ' + ('IS_REQUIRED' | translate),
                control: form.controls['nominalCapacity']
              }"></ng-container>
        </div>

        <div class="fv-row mb-8">
            <label class="form-label fs-6 fw-bolder text-gray-900">{{'COP' | translate}}</label>
            <input class="form-control bg-transparent" type="number" name="cop"
                formControlName="cop" autocomplete="off" [ngClass]="{
                'is-invalid': form.controls['cop'].invalid,
                'is-valid': form.controls['cop'].valid
              }" />
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: ('COP'| translate) + ' ' + ('IS_REQUIRED' | translate),
                control: form.controls['cop']
              }"></ng-container>
        </div>
    </form>

    <ng-template #formError let-control="control" let-message="message" let-validation="validation">
        <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
            <div class="fv-plugins-message-container">
                <span role="alert">
                    {{ message }}
                </span>
            </div>
        </ng-container>
    </ng-template>
</app-modal>