<app-alert #alertComponent>
</app-alert>

<app-modal #modal [modalConfig]="modalConfig">
    <form class="form w-100" [formGroup]="form" novalidate="novalidate">

        <div class="fv-row mb-8">
            <label class="form-label fs-6 fw-bolder text-gray-900">Manufacturer</label>
            <input class="form-control bg-transparent" type="text" name="manufacturer" formControlName="manufacturer"
                autocomplete="off" [ngClass]="{
                      'is-invalid': form.controls['manufacturer'].invalid,
                      'is-valid': form.controls['manufacturer'].valid
                    }" />
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                      validation: 'required',
                      message: 'Manufacturer is required',
                      control: form.controls['manufacturer']
                    }"></ng-container>
        </div>

        <div class="fv-row mb-8">
            <label class="form-label fs-6 fw-bolder text-gray-900">Model</label>
            <input class="form-control bg-transparent" type="text" name="model" formControlName="model"
                autocomplete="off" [ngClass]="{
                    'is-invalid': form.controls['model'].invalid,
                    'is-valid': form.controls['model'].valid
                  }" />
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'required',
                    message: 'Model is required',
                    control: form.controls['model']
                  }"></ng-container>
        </div>

        <div class="fv-row mb-8">
            <label class="form-label fs-6 fw-bolder text-gray-900">Series</label>
            <input class="form-control bg-transparent" type="text" name="series" formControlName="series"
                autocomplete="off" [ngClass]="{
                'is-invalid': form.controls['series'].invalid,
                'is-valid': form.controls['series'].valid
              }" />
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'Series is required',
                control: form.controls['series']
              }"></ng-container>
        </div>

        <div class="fv-row mb-8">
            <label class="form-label fs-6 fw-bolder text-gray-900">Power</label>
            <input class="form-control bg-transparent" type="number" name="power"
                formControlName="power" autocomplete="off" [ngClass]="{
                'is-invalid': form.controls['power'].invalid,
                'is-valid': form.controls['power'].valid
              }" />
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'Power is required',
                control: form.controls['power']
              }"></ng-container>
        </div>

        <div class="fv-row mb-8">
            <label class="form-label fs-6 fw-bolder text-gray-900">Type</label>
            <input class="form-control bg-transparent" type="text" name="type" formControlName="type" autocomplete="off"
                [ngClass]="{
                'is-invalid': form.controls['type'].invalid,
                'is-valid': form.controls['type'].valid
              }" />
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'Type is required',
                control: form.controls['type']
              }"></ng-container>
        </div>
    </form>

    <ng-template #formError let-control="control" let-message="message" let-validation="validation">
        <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
            <div class="fv-plugins-message-container">
                <span role="alert">
                    {{ message }}
                </span>
            </div>
        </ng-container>
    </ng-template>
</app-modal>