<ng-template #modal>
  <div class="modal-content app-modal-content">
    <div class="modal-header app-modal-header">
      <h2 class="modal-title fs-2 fw-bold text-gray-900">{{ modalConfig?.modalTitle }}</h2>
      <button type="button" class="btn btn-icon btn-sm btn-active-light-danger app-modal-close"
        (click)="close()"
        *ngIf="showCloseButton()"
        [disabled]="closeButtonDisabled()"
        [attr.aria-label]="'CLOSE' | translate" [title]="'CLOSE' | translate">
        <span class="svg-icon svg-icon-2" [inlineSVG]="'./assets/media/icons/duotune/arrows/arr061.svg'"></span>
      </button>
    </div>

    <div class="modal-body app-modal-body">
      <ng-content></ng-content>
    </div>

    <div class="modal-footer app-modal-footer"
      *ngIf="showFooter()">
      <button type="button" class="btn btn-primary app-modal-primary-action" (click)="dismiss()"
        *ngIf="showDismissButton()"
        [disabled]="dismissButtonDisabled()">
        {{ modalConfig?.dismissButtonLabel }}
      </button>
      <button type="button" class="btn btn-light app-modal-secondary-action" (click)="close()"
        *ngIf="showCloseButton()"
        [disabled]="closeButtonDisabled()">
        {{ modalConfig?.closeButtonLabel }}
      </button>
    </div>
  </div>
</ng-template>
