<div class="card-header datatable-header">
  <div class="datatable-heading">
    <span class="datatable-title">{{ header }}</span>
    <span class="datatable-count">{{ totalCount || 0 }}</span>
  </div>

  <div class="card-toolbar" *ngIf="hasNewRecordPermission">
    <button type="button" class="btn btn-sm datatable-new-button" (click)="openSaveModal()">
      <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'" class="svg-icon svg-icon-3"></span>
      {{ 'NEW' | translate }}
    </button>
  </div>
</div>

<div class="card-body datatable-body">
  <div class="table-responsive datatable-table-wrap">
    <table class="table table-row-dashed table-row-gray-300 align-middle gy-4 datatable-table">
      <thead>
        <tr>
          <ng-container *ngFor="let column of columnList">
            <th *ngIf="column.visibility && (column.index !== null || hasEditPermission || hasDeletePermission)"
              [class.text-end]="column.index === null">
              {{ column.name }}
            </th>
          </ng-container>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let data of dataSource">
          <ng-container *ngFor="let column of columnList">
            <td *ngIf="column.visibility && column.index !== null && column.index !== 'isDeleted'">
              <span class="datatable-cell-value">{{ data[column.index!] }}</span>
            </td>

            <td *ngIf="column.visibility && column.index === 'isDeleted'">
              <span *ngIf="!data[column.index!]" class="badge badge-light-success datatable-status">
                {{ 'ACTIVE' | translate }}
              </span>
              <span *ngIf="data[column.index!]" class="badge badge-light-danger datatable-status">
                {{ 'PASSIVE' | translate }}
              </span>
            </td>

            <td *ngIf="column.visibility && column.index === null && (hasEditPermission || hasDeletePermission)"
              class="text-end">
              <div class="datatable-row-actions" *ngIf="!data['isSystemData'] && !data['isDeleted']">
                <button *ngIf="hasEditPermission" type="button" class="btn btn-icon btn-sm datatable-action-button"
                  [attr.aria-label]="'EDIT' | translate" [title]="'EDIT' | translate"
                  (click)="openEditModal(data['id'])">
                  <span [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'" class="svg-icon svg-icon-4"></span>
                </button>
                <button *ngIf="hasDeletePermission" type="button" class="btn btn-icon btn-sm datatable-action-button"
                  [attr.aria-label]="'DELETE' | translate" [title]="'DELETE' | translate"
                  (click)="openDeleteModal(data['id'])">
                  <span [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'" class="svg-icon svg-icon-4"></span>
                </button>
              </div>
            </td>
          </ng-container>
        </tr>

        <tr *ngIf="!dataSource || dataSource.length === 0" class="datatable-empty-row">
          <td [attr.colspan]="visibleColumnCount" class="datatable-empty-cell">
            <div class="datatable-empty-state">
              <span class="datatable-empty-icon" aria-hidden="true">
                <span [inlineSVG]="'./assets/media/icons/duotune/general/gen044.svg'" class="svg-icon svg-icon-2"></span>
              </span>
              <span class="fw-semibold">{{ 'NO_DATA_AVAILABLE' | translate }}</span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="datatable-pagination" *ngIf="paginationModel">
    <ngb-pagination [collectionSize]="totalCount || 0"
      [(page)]="paginationModel.pageNumber"
      [pageSize]="paginationModel.pageSize"
      [rotate]="true"
      [ellipses]="true"
      [boundaryLinks]="true"
      (pageChange)="onPageChanges()">
    </ngb-pagination>
  </div>
</div>
