<div class="map-toolbar"
    [class.toolbar-backdrop]="projectsComp?.editSaveComponent?.isSelectionMode || projectsComp?.editSaveComponent?.isDrawingMode">
    <div class="map-tool-actions" role="toolbar" [attr.aria-label]="'MAP_TOOLBAR_LABEL' | translate">
        <button type="button" class="map-tool-button" title="{{'MAP_GO_TO_HOME' | translate}}" (click)="goToHome()">
            <span [inlineSVG]="'./assets/media/icons/duotune/general/gen001.svg'" class="svg-icon svg-icon-3 svg-icon-primary"></span>
        </button>
        <button type="button" class="map-tool-button" title="{{'MAP_PROJECTS' | translate}}" (click)="openProjects()">
            <span [inlineSVG]="'./assets/media/icons/duotune/general/gen025.svg'" class="svg-icon svg-icon-3 svg-icon-primary"></span>
        </button>
        <button type="button" class="map-tool-button" title="{{'GO_TO_COORDINATE' | translate}}" (click)="goToCoordinate()">
            <span [inlineSVG]="'./assets/media/icons/duotune/general/gen018.svg'" class="svg-icon svg-icon-3 svg-icon-primary"></span>
        </button>
        <span class="map-tool-separator" aria-hidden="true"></span>
        <button type="button" class="map-tool-button" title="{{'AREA_MEASUREMENT' | translate}}" (click)="areaMeasurement()">
            <span [inlineSVG]="'./assets/media/icons/duotune/general/gen022.svg'" class="svg-icon svg-icon-3 svg-icon-primary"></span>
        </button>
        <button type="button" class="map-tool-button" title="{{'LENGTH_MEASUREMENT' | translate}}" (click)="lengthMeasurement()">
            <span [inlineSVG]="'./assets/media/icons/duotune/art/art009.svg'" class="svg-icon svg-icon-3 svg-icon-primary"></span>
        </button>
        <span class="map-tool-separator" aria-hidden="true"></span>
        <button type="button" class="map-tool-button" title="{{'EXPORT_MAP' | translate}}" (click)="exportMap()">
            <span [inlineSVG]="'./assets/media/icons/duotune/files/fil017.svg'" class="svg-icon svg-icon-3 svg-icon-primary"></span>
        </button>
    </div>
</div>

<map-goToCoordinate #goToCoordinateComp [map]="map"></map-goToCoordinate>
<map-lengthMeasurement #lengthMeasurementComp></map-lengthMeasurement>
<map-areaMeasurement #areaMeasurementComp></map-areaMeasurement>
<map-projects #projectsComp [map]="map"></map-projects>
